@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

h1 {
    font-family: 'Chivo Mono', monospace;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
}

h2 {
    font-family: 'Chivo Mono', monospace;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 2em;
}

.visited {
    color: black;
    
}

p {
    font-family: 'Chivo Mono', monospace;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 1.4em;
}

.contentAbout {
    background-color: rgba(0, 147, 237, 0.2);
}

.image {
    display: block;
    height: calc(min(100%, 600px));
    width: calc(min(100%, 560px));
    margin: auto;
}

.signature{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}
